
.Main {
  border-style: solid;
  border-color: black;
  justify-content: center; 
  background-color:#3a3a3a;
  background: linear-gradient(to right, rgba(36,31,31,1) 0%, rgba(36,31,31,1) 32%, #3a3a3a 100%);
}

.Title {
  text-align: center;
  border-style: solid;
  background-color: #15cf74; 
  margin: 10px;   
}

.Description {
  border-style: solid;
  background-color: #15cf74;
  text-align: center;
  font-size: 1.8rem;
}

.Position {
  border-style: solid;
  background-color: #15cf74;
  padding-left: 10px;
  padding-right: 10px;
}

.SideBanner {
  border-style: solid;
  background-color:#3a3a3a;
  color: white;
  border-color: black;
  height: 100mv;
}

.LeftSideBanner {
  border-style: solid;
  background-color: #15cf74;
  background-color:rgba(36,31,31,1);
  color: white;
  border-color: black;
  height: 100mv;
}

.BottomBanner {
  border-style: solid;
  background-color:#3a3a3a;
  background: linear-gradient(to right, rgba(36,31,31,1) 0%, rgba(36,31,31,1) 32%, #3a3a3a 100%);
  color: white;
  border-color: black;
}

.TopBanner {

}

.Leftside {
  border-style: solid;
  border-color: black;
  display: flex;
  height: 100mv;
  justify-content: center;
  background-color: #15cf74;
  background-color:rgba(36,31,31,1);
  text-align: center;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  padding-top: 20px;
  color: white;
  overflow: auto;
}

.LeftTitle {
  color: white;
  overflow: auto;
}

/* BACKGROUND MENY */
.navbar-collapse {
  background-color: rgba(36,31,31,1);
}

/* BACKGROUND MENU BUTTON*/
.navbar-toggler.collapsed {
  background-color: rgba(36,31,31,1);
}



.Banner {
  height:100%;
  width:100%;
}


.imagebutton {
  height:100%;
  width:100%;
  border-radius: 10px;
}

.imagebutton:hover {
  transform: scale(1.05);
  filter: brightness(150%);
  -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      transition: all 0.2s ease;
  
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  min-width: 160px;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.instructions {
  color: white;
  font-size: 1.5rem;
  padding-bottom: 30px;
  padding-top: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.dropdown {
  display: inline-block;
}



