
.Main {
  border-style: solid;
  border-color: black;
  justify-content: center;
  display: flex;
  
  background-color:#3a3a3a;
  background: linear-gradient(to right, rgba(36,31,31,1) 0%, rgba(36,31,31,1) 32%, #3a3a3a 100%);
}

.Title {
  text-align: center;
  border-style: solid;
  background-color: #15cf74; 
  margin: 10px;   
}

.Description {
  border-style: solid;
  background-color: #15cf74;
}

.Position {
  border-style: solid;
  background-color: #15cf74;
  padding-left: 10px;
  padding-right: 10px;
}

.PositionBox {
  margin: 10px;
}

.SideBanner {
  border-style: solid;
  background-color: #15cf74;
  background-color:#3a3a3a;
}

.BottomBanner {
  border-style: solid;
  background-color: #15cf74;
  background-color:#3a3a3a;
  margin-top: 1000px;
}

.Leftside {
  border-style: solid;
  border-color: black;
  display: flex;
  height: 100mv;
  justify-content: center;
  background-color: #15cf74;
  background-color:rgba(36,31,31,1);
  text-align: center;
}

.imagebutton {
  height:auto;
  width:100%;
  border-radius: 10px;
}

.imagebutton:hover {
  transform: scale(1.05);
  filter: brightness(150%);
  -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      transition: all 0.2s ease;
  
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  max-height: 70vh;
  overflow-y: auto;

}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.instructions {
  color: white;
  font-size: 1.5rem;

}




